<div class="seriesContext">
    <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Getting Started <span class="caret"></span></button>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SKXkC4SqtRk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <ol class="dropdown-menu">
            {% assign pages = site.pages | sort:"weight"  %}
            {% for p in pages %}
            {% if p.series == "Getting Started" %}
            {% if p.url == page.url %}
            <li class="active"> → {{p.title}}</li>
            {% else %}
            <li>
                <a href="{{p.url | remove: "/"}}">{{p.title}}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>
